* {
  margin: 0px;
  padding: 15px;
  box-sizing: content-box;
  font-family: "Press Start 2P", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(20, 30, 19);
}
h1 {
  color: rgba(190, 233, 190, 0.593);
}
p {
  color: rgba(190, 233, 190, 0.593);
  display: flex;
  align-content: flex-end;
  text-align: center;
}
a {
  color: rgba(190, 233, 190, 0.593);
}

button {
  background-color: olive;
  border: 0px;
  border-radius: 15px;
}
